<li class="list-group-item list-group-item-warning">
	{{burger_name}}

	<button type="button" class="btn btn-danger devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Devoured{{else}}Eat It{{/if}}
	</button>

</li>